<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-header">
                <div class="navbar-brand"><a href="#">Best Cars</a></div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Username" name="username">
                            <input class="form-control" type="password" placeholder="Password" name="password">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>

        <!--Add review form here -->
        <div class="container">
            <h2>Add a review about <b>{{dealer.full_name}}</b></h2>
            <form action="{% url 'djangoapp:add_review' dealer.id %}" method="post">
                {% csrf_token%}
                <div class="form-group">
                    
                    <div class="mb-3">
                        <label for="content">Enter the review content:</label>
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10" required></textarea>
                    </div>
                    
                    <div class="mb-3 ml-1">
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                        <label class="form-check-label" for="purchasecheck">Has purchased the car from {{dealer.full_name}} ? <p class="text-muted">(select purchased car information below if checked)</p></label>
                    </div>

                    <div class="mb-3">
                        <label for="car">Select your car (model-make-year):</label>
                        <select class="form-select" name="car" id="car" required>
                            {% for car in cars %}
                            <option value="{{car.id}}">{{car.name}}-{{car.carmake}}-{{car.year}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="purchasedate">Select your purchase date:</label>
                        <input class="date-pick" type="text" name="purchasedate" id="purchasedate">
                    </div>

                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>    
        </div>
    </body>
    <script type="text/javascript">
        $('.date-pick').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
</html>